# Ignore everything
*


# But not these files/folders
!docs/
!docs/**
!README.md
!LICENSE
!COPYRIGHT.md
!.gitignore

# Allow source code for development
!cmd/
!cmd/**
!internal/
!internal/**
!templates/
!templates/**
!go.mod
!go.sum
